<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Word</title>
    <link rel="stylesheet" href="/stylesheets/edit.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <script src="https://kit.fontawesome.com/49b0e75428.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <navbar current-page="edit"></navbar>
        <!-- <div class="navbar">
            <ul>
                <li><a href="#" class="active"><i class="fa-regular fa-comment"></i>Words</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-plus"></i>New</a></li>
                <li><a href="#"><i class="fa-solid fa-graduation-cap"></i>Test</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i>Me</a></li>
            </ul>
        </div> -->

        <!-- Body content here -->
        <!-- Old way -->
        <!-- <div class="form-container">
            <h2>Edit Word</h2>
            <p class="error-message">{{errorMessage}}</p>
            <form id="new-word-form">
                <div class="form-group" v-for="language in languages">
                    <label :for="language.key + '-word'">
                        <img :src="language.imageUrl" :alt="language.name"> {{language.name}}
                    </label>
                    <input type="text" :id="language.key + '-word'" :name="language.key + '-word'" v-model="word[language.key]"
                        :placeholder="'Enter ' + language.name + ' word'" required>
                </div>
                
                <div class="button-group">
                    <button type="submit" class="btn-submit" @click.prevent="updateWord">Submit</button>
                    <button type="button" class="btn-translate" @click="translateAll">Translate all</button>
                </div>
            </form>
        </div> -->

        <div class="container">
            <h2>Edit Word</h2>
            <table>
                <tr v-for="language in languages">
                    <td><img :src="language.imageUrl" :alt="language.name"> {{language.name}}</td>
                    <td><input type="text" :id="language.key + '-word'" :name="language.key + '-word'" v-model="word[language.key]"
                        :placeholder="'Enter ' + language.name + ' word'" required></td>
                </tr>
            </table>
            <div class="btn-group">
                <button class="btn btn-success" @click.prevent="updateWord">Submit</button>
                <button class="btn btn-primary" @click="translateAll">Translate all</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/alert.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>