<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <script src="https://kit.fontawesome.com/49b0e75428.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <navbar current-page="me"></navbar>
        <!-- Uncomment below to display static navigation bar -->
        <!-- <div class="navbar">
            <ul>
                <li><a href="#" class="active"><i class="fa-regular fa-comment"></i>Words</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-plus"></i>New</a></li>
                <li><a href="#"><i class="fa-solid fa-graduation-cap"></i>Test</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i>Me</a></li>
            </ul>
        </div> -->

        <!-- Body content here -->
        <div class="container">
            <h1>Danh Phan page</h1>
            <p>I updated the words page and navigation bar to enhance both functionality and aesthetics. The navigation bar now includes images alongside text for each menu item, ensuring a visually appealing and user-friendly interface. This was achieved by updating the HTML structure and CSS styles, centering the navbar and aligning images with text. The page also utilizes Vue.js for dynamic interaction, where each word entry in the table has "Show," "Edit," and "Destroy" buttons with corresponding methods to handle these actions. This ensures an interactive and responsive user experience, maintaining clean and organized code.</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>
