<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Details</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <script src="https://kit.fontawesome.com/49b0e75428.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <navbar current-page="show"></navbar>
        <!-- <div class="navbar">
            <ul>
                <li><a href="#" class="active"><i class="fa-regular fa-comment"></i>Words</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-plus"></i>New</a></li>
                <li><a href="#"><i class="fa-solid fa-graduation-cap"></i>Test</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i>Me</a></li>
            </ul>
        </div> -->

        <!-- Body content here -->
        <!-- Old way -->
        <!-- <div class="form-container">
            <h2>Show Word</h2>
            <form id="new-word-form">
                <div class="form-group" v-for="language in languages">
                    <label :for="language.key + '-word'">
                        <img :src="language.imageUrl" :alt="language.name"> {{language.name}}
                    </label>
                    <input type="text" :id="language.key + '-word'" :name="language.key + '-word'" v-model="word[language.key]"
                        :placeholder="language.name + ' word'" disabled>
                </div>
                <a :href="'../edit/' + this.id">Edit word</a>
            </form>
        </div> -->

        <div class="table-container">
            <h2 class="text-center">Show Word</h2>
            <table>
                <tr>
                    <th>Language</th>
                    <th>Translation</th>
                </tr>
                <tr v-for="language in languages">
                    <td><img :src="language.imageUrl" :alt="language.name"> {{language.name}}</td>
                    <td>{{word[language.key]}}</td>
                </tr>
            </table>
            <a :href="'../edit/' + this.id" class="edit-link">Edit word</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>