<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Words Table</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <script src="https://kit.fontawesome.com/49b0e75428.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <navbar current-page="words"></navbar>
        <!-- <div class="navbar">
            <ul>
                <li><a href="#" class="active"><i class="fa-regular fa-comment"></i>Words</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-plus"></i>New</a></li>
                <li><a href="#"><i class="fa-solid fa-graduation-cap"></i>Test</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i>Me</a></li>
            </ul>
        </div> -->

        <div class="container">
            <h1>Matt week 12 - Words</h1>

            <!-- Search Bar, Dropdown, Search Button, and Export Button -->
            <div class="search-container">
                <input type="text" v-model="searchQuery" placeholder="Search..." class="search-bar">
                <select v-model="searchLanguage" class="search-dropdown">
                    <option v-for="language in languages" :value="language.key" :key="language.key">
                        {{ language.name }}
                    </option>
                </select>
                <button @click="searchWords" class="search-button">Search</button>
                <button @click="exportCSV" class="export-button">Export to CSV</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th v-for="language in languages">
                            <div class="sort-button" @click="sortWords(language.key)">
                                {{language.name}}
                                <i :class="['fas', 'fa-arrow-up', 'sort-arrow', { desc: !isAscending }]"
                                    v-show="isAscending !== null && sortKey === language.key"></i>
                            </div>
                        </th>
                        <!-- <th>
                            <div class="sort-button" @click="sortWords('english')">
                                English
                                <i :class="['fas', 'fa-arrow-up', 'sort-arrow', { desc: !isAscending }]"
                                    v-show="isAscending !== null && sortKey === 'english'"></i>
                            </div>
                        </th>
                        <th>
                            <div class="sort-button" @click="sortWords('german')">
                                German
                                <i :class="['fas', 'fa-arrow-up', 'sort-arrow', { desc: !isAscending }]"
                                    v-show="isAscending !== null && sortKey === 'german'"></i>
                            </div>
                        </th>
                        <th>
                            <div class="sort-button" @click="sortWords('french')">
                                French
                                <i :class="['fas', 'fa-arrow-up', 'sort-arrow', { desc: !isAscending }]"
                                    v-show="isAscending !== null && sortKey === 'french'"></i>
                            </div>
                        </th>
                        <th>
                            <div class="sort-button" @click="sortWords('vietnamese')">
                                Vietnamese
                                <i :class="['fas', 'fa-arrow-up', 'sort-arrow', { desc: !isAscending }]"
                                    v-show="isAscending !== null && sortKey === 'vietnamese'"></i>
                            </div>
                        </th> -->
                        <!-- <th>German</th>
                        <th>French</th>
                        <th>Vietnamese</th> -->
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="word in words" :key="word._id">
                        <td v-for="language in languages">{{ word[language.key] }}</td>
                        <!-- <td>{{ word.english }}</td>
                        <td>{{ word.german }}</td>
                        <td>{{ word.french }}</td>
                        <td>{{ word.vietnamese }}</td> -->
                        <td style="width: 1px;">
                            <a href="#" class="show" @click.prevent="showWord(word._id)">Show</a>
                        </td>
                        <td style="width: 1px;">
                            <a href="#" class="edit" @click.prevent="editWord(word._id)">Edit</a>
                        </td>
                        <td style="width: 1px;">
                            <a href="#" class="destroy" @click.prevent="destroyWord(word._id)">Destroy</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button @click="changePage(currentPage - 1)" :disabled="currentPage === 1">Prev</button>
                <button v-for="page in pagesToShow" :key="page" @click="changePage(page)"
                    :class="{ active: currentPage === page }">{{ page }}</button>
                <button @click="changePage(currentPage + 1)" :disabled="currentPage === totalPages">Next</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>